
.each-day {
    height: 180px;
    width: auto;
    border: 5px solid rgb(62, 59, 71);
}


.each-week {
    height: 40px;
    width: auto;
    text-align: center;
    border: 4px solid rgb(62, 59, 71);
}

.each-day:hover {
    border-color: rgb(108, 209, 255);
}

.each-month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.day-item {
    color: black;
    padding: 5px;
}
