
.each-day {
    height: 180px;
    width: auto;
    border: 5px solid rgb(62, 59, 71);
}

.weeks:hover
{
  box-shadow: 0 0 5px #10bbff;
}

.weeks:hover::before
{
    transform: scale(1.1);
    box-shadow: 0 0 15px #10bbff;
}


.each-day:hover {
    border-color: rgb(108, 209, 255);
}

.each-month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.day-item {
    color: black;
    padding: 5px;
}
